<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="preload" href="styles login tienda web.css" as="style">
        <link rel="stylesheet" href="styles login tienda web.css">
    </head>

    <body>
        <header>
            <h1>
                <span class="xj-text">XJ</span> Auto <span class="highlight">Hub</span>
            </h1>
        </header>
        <div class="background-blur">
            <div class="login-container">
                <h2>Login</h2>

                <form action="login.php" method="post">
                    <label for="username"> Username: </label>
                    <input type="text" id="username" name="username" required>

                    <label for="password"> Password: </label>
                    <input type="password" id="password" name="password"
                        required>

                    <button type="submit"> Login </button>
                </form>

                <p> ¿You don't have an account? <a href="www.facebook.com"> Register
                        here </a></p>
            </div>
        </div>
    </body>
</html>