{% load static %}
<link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
<div class="nav"> <!-- Seccion de navegacion -->
      <nav class="navegacion principal">
            <a href="#"> Inicio </a>
            <a href="#"> Accesorios </a>
            <a href="#"> Aros </a>
            <a href="#"> Detailing </a>
            <a href="#"> Proyectos en Venta </a>
            <a href="#"> Audio </a>
            <a href="#"> Performance </a>
            <a href="#"> Eventos / Car Meets </a>
            <a href="#"> Contacto </a>
      </nav> <!-- Barra de navegacion, con sus enlaces -->
</div>